<template>
  <b-row>

    <b-col v-for="image in imagesList" v-bind:key="image.id" class="image_thumbnail">
      <gallery-image :image="image"> </gallery-image>
    </b-col>

    <b-col v-for="index in empty_boxes_count" v-bind:key="index" class="image_thumbnail">
      <gallery-image> </gallery-image>
    </b-col>

  </b-row>
</template>

<script>
import GalleryImage from './GalleryImage.vue'
export default {
  props: ['imagesList'],
  components: {
    'gallery-image': GalleryImage
  },
  data () {
    return {
      empty_boxes_count: 0
    }
  },
  mounted () {
    this.empty_boxes_count = 15 - this.imagesList.length
  },
  updated () {
    this.empty_boxes_count = 15 - this.imagesList.length
  }
}
</script>

<style>
.image_thumbnail {
  flex-grow: 0 !important;
  width: 190px !important;
  height: 120px !important;
}
</style>
