<template>
  <img v-if="image && image.image" v-on:click="imageClickHandler($event)" v-bind:src="image.image" v-bind:id="image.id" alt="Image" class="image-prev img-border" />
  <img v-else src="../../../../assets/images/empty_img_box.png" alt="Empty Box" class="image-prev" />
</template>

<script>
export default {
  props: ['image'],
  methods: {
    imageClickHandler: function (event) {
      this.$store.dispatch('setSelectedImageId', event.target.id)
    }
  }

}
</script>

<style>
.image-prev {
  width: inherit;
  height: inherit;
}
.img-border {
  cursor: pointer;
  border-style: ridge;
  border-width: 4px;
  border-radius: 10px;
}
</style>
