
<template>
  <div class="content">
    <section class="main-section section body-border">
      <div class="content">
        <div class="bv-example-row" style="padding: 40px;">
          <b-row>
            <b-col md="4" sm="4" lg="4">
              <task></task>
              <br/>
            </b-col>
            <b-col md="8" sm="8" lg="8" class="img-thumbnails-section">
              <b-row>
                <add-image title="Image Gallery" :totalImages="imagesCollection.length" />
              </b-row>
              <b-row>
                <div class="img-thumbnails-rows">
                  <gallery-image-row :imagesList="imagesSplitedList" />
                </div>
              </b-row>
              <b-row style="justify-content: center;" v-if="imagesSplitedList && imagesSplitedList.length > 0">
                <b-pagination id="paginator" v-on:change="paginatorHandler($event)" size="md" v-bind:total-rows="imagesCollection.length" :per-page="15">
                </b-pagination>
                <br>
              </b-row>
            </b-col>
          </b-row>
        </div>
      </div>

      <br/><br/>

      <div class="content">
        <div class="bv-example-row" style="padding: 40px;">
          <b-row style="height: 600px;">
            <b-col md="4" sm="4" lg="4">
            </b-col>
            <b-col md="8" sm="8" lg="8" class="img-thumbnails-section">
              <b-container style="height: 100%;">
                <b-row style="justify-content: center;height: inherit;padding:5%;">
                  <slick-slider :imagesList="imagesCollection" :selectedImageId="selectedImageId" />
                </b-row>
              </b-container>
            </b-col>
          </b-row>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SlickSlider from '../SliderView/SlickSlider.vue'
import GalleryImageRow from '../Gallery/Frames/GalleryImageRow.vue'
import AddImage from '../Gallery/AddImage/AddImage.vue'
import Tasks from '../Instructions/tasks.vue'
import { mapGetters } from 'vuex'
export default {
  components: {
    'slick-slider': SlickSlider,
    'gallery-image-row': GalleryImageRow,
    'add-image': AddImage,
    'task': Tasks
  },
  data () {
    return {
      imagesCollection: [],
      imagesSplitedList: [],
      current_page: 1
    }
  },
  watch: {
    imagesList: function () {
      if (this.current_page === 0) {
        this.current_page = 1
      }
      this.imagesCollection = this.imagesList
      this.imagesSplitor(this.current_page)
    },
    deleteStatus: function () {
      if (this.deleteStatus) {
        let index = this.imagesCollection.findIndex(x => parseInt(x.id) === parseInt(this.selectedImageId))
        const pageNo = Math.ceil(parseFloat(index + 1) / parseFloat(15))
        var paginator = document.getElementById('paginator')
        var lis = paginator.getElementsByTagName('li')
        for (let index = 0; index < lis.length; index += 1) {
          if (lis[index].getElementsByTagName('a')[0]) {
            if (parseInt(lis[index].getElementsByTagName('a')[0].innerHTML) !== parseInt(pageNo)) {
              lis[index].classList.remove('active')
            } else {
              lis[index].classList.add('active')
            }
          }
        }
        this.paginatorHandler(pageNo)
        this.$store.dispatch('deleteStatus', false)
      }
    }
  },
  computed: {
    ...mapGetters(['imagesList', 'selectedImageId', 'deleteStatus'])
  },
  methods: {
    imagesSplitor (pageNo) {
      const totalFrames = 15
      const start = totalFrames * (pageNo - 1)
      let end = -1
      if (this.imagesCollection.length >= totalFrames * pageNo) {
        end = totalFrames * pageNo
      } else {
        end = (this.imagesCollection.length % totalFrames) + totalFrames * (pageNo - 1)
      }
      const splittedArray = this.imagesCollection.slice(start, end)
      this.imagesSplitedList = splittedArray
    },
    paginatorHandler (pageNo) {
      this.current_page = pageNo
      this.imagesSplitor(pageNo)
    }
  }
}
</script>
<style>
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

.content {
  background-color: #f5f5f5;
}
.img-thumbnails-section {
  background-color: white;
}
.img-thumbnails-rows {
  padding: 1%;
}
.fa-plus-circle {
  color: #fe7043;
  font-size: xx-large;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.body-border {
  border-style: ridge;
  border-width: 5px;
  border-radius: 8px;
}
.tick-prop {
  color: green;
  font-size: 20px;
}

.rounded {
  height: 30px;
  border-radius: 4px;
  padding: 4px;
}

.in1 {
  width: 120px;
}

.in2 {
  width: 350px;
}

i {
  margin: 0 8px;
}

.filename-container {
  margin: 20px 20px 0 0;
}

.filename {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  font-family: "verdana", sans-serif;
}

.hide {
  display: none !important;
}
</style>

