
<template>
  <div>
    <b-row v-if="image">
      <div class="creation-dt">Creation Date Time: {{creationDate.date}} {{creationDate.time}}</div>
    </b-row>
    <b-row v-if="image">
      <i class="fa fa-trash delete-trash" v-on:click="deleteImageHandler()"></i>
    </b-row>
    <b-row v-if="image">
      <b-col lg="1" md="1" sm="1">
        <i class="fa fa-chevron-left mgr-tp-190 arrow-sliders" v-on:click="slide_prev()"></i>
      </b-col>
      <b-col lg="10" md="10" sm="10">
        <span>
          <span class="helper"></span><img v-bind:src="image" class="img_props" alt="Image" />
        </span>
      </b-col>
      <b-col lg="1" md="1" sm="1">
        <i class="fa fa-chevron-right mgr-tp-190 arrow-sliders" v-on:click="slide_next()"></i>
      </b-col>
    </b-row>
    <b-row v-else>
      <span>
        <span class="helper"></span><img class="empty_img_props" style="margin-top: 52px;" src="../../../assets/images/empty_big_img.png" alt="Image">
      </span>
    </b-row>
  </div>
</template>
<script>
export default {
  props: ['imagesList', 'selectedImageId'],
  data () {
    return {
      image: null,
      creationDate: null,
      currentImageId: -1
    }
  },
  watch: {
    selectedImageId: function () {
      this.currentImageId = this.selectedImageId
      const currentIndex = this.imagesList.findIndex(x => parseInt(x.id) === parseInt(this.currentImageId))
      this.image = this.imagesList[currentIndex].image
      this.creationDate = this.imagesList[currentIndex].creationDate
    }
  },
  methods: {
    deleteImageHandler: function () {
      const deleteImageId = this.currentImageId
      if (!this.slide_next()) {
        if (!this.slide_prev()) {
          this.image = null
          this.creationDate = null
        }
      }
      var that = this
      this.$store.dispatch('deleteImage', deleteImageId).then(function () {
        that.$store.dispatch('setSelectedImageId', that.currentImageId)
        that.$store.dispatch('deleteStatus', true)
      })
    },
    slide_next: function () {
      const currentIndex = this.imagesList.findIndex(x => parseInt(x.id) === parseInt(this.currentImageId))
      const nextIndex = currentIndex + 1
      if (nextIndex < this.imagesList.length) {
        this.currentImageId = this.imagesList[nextIndex].id
        this.image = this.imagesList[nextIndex].image
        this.creationDate = this.imagesList[nextIndex].creationDate
        return true
      }
      return false
    },
    slide_prev: function () {
      const currentIndex = this.imagesList.findIndex(x => parseInt(x.id) === parseInt(this.currentImageId))
      const prevIndex = currentIndex - 1
      if (prevIndex >= 0) {
        this.currentImageId = this.imagesList[prevIndex].id
        this.image = this.imagesList[prevIndex].image
        this.creationDate = this.imagesList[prevIndex].creationDate
        return true
      }
      return false
    }
  }
}
</script>

<style>
.delete-trash {
  font-size: 25px;
  color: red;
  cursor: pointer;
}
.creation-dt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.img_props {
  height: 400px;
  width: 100%;
  border-style: ridge;
  border-width: 2px;
  border-color: grey;
  border-radius: 20px;
}

.empty_img_props {
  height: 400px;
  border-style: ridge;
  border-width: 2px;
  border-color: grey;
  border-radius: 20px;
}

.mgr-tp-190 {
  margin-top: 190px;
}
.arrow-sliders {
  cursor: pointer;
  font-size: 25px;
}
</style>