<template>
  <div class="outer-prop">
    <span class="title-size">
      {{title}}
    </span>
    <span class="file-select flt-rgt">
      <span class="add-img-row">
        <div class="clip-upload">
          <label for="file-input">
            <i class="fa fa-plus-circle fa-lg cursor-ptr" aria-hidden="true"></i>
          </label>
          <input type="file" @change="UploadImageHandler($event)" accept="image/*" class="file-input hide" name="file-input" id="file-input">
          <div class="filename-container hide"></div>
        </div>
      </span>
    </span>

    <div>
      <span>
        Total Images: {{totalImages}}
      </span>
    </div>
  </div>

</template>

<script>
export default {
  props: ['title', 'totalImages'],
  methods: {
    UploadImageHandler (e) {
      if (e.target.files[0]) {
        if (e.target.files[0].type.includes('image')) {
          const newImage = URL.createObjectURL(e.target.files[0])
          this.$store.dispatch('addImage', newImage)
          e.target.value = null
        }
      }
    }
  }
}
</script>

<style scoped>
.fa-plus-circle {
  color: #fe7043;
  font-size: xx-large;
}
.add-img-row {
  float: right;
}
.title-size {
  font-size: larger;
}
.outer-prop {
  width: 100%;
  padding: 3%;
  font-weight: 600;
}
.flt-rgt {
  float: right;
}
.cursor-ptr {
  cursor: pointer;
}
</style>