<template>
  <div>
    <div v-for="instruction in instructions" v-bind:key="instruction">
      <i class="fa fa-check tick-prop"></i>
      <span>{{instruction}}</span>
      <br/>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      instructions: ['View all saved images.', 'Click Add Button to add a new image.', 'Click on a thumbnail to view enlarged version of the image.', 'Ability to delete the image from the zoomed view.',
        'Add pagination with the current page and total count of images.', 'Show created date for each image.', 'Reuseable Components.']
    }
  }
}
</script>

<style>
.tick-prop {
  color: green;
  font-size: 20px;
}
</style>
